.DS_Store
.idea
imgui.ini
cmake-*
ImportExecutables-*.cmake
/out*
dist
dist-*
toolchains
filament/docs/html/**
.vscode
*tmp*.png
civetweb.txt
/TAGS
settings.json
test*.png
test*.json
results
/compile_commands.json
/.cache

# For /test/renderdiff dependencies
/mesa
/gltf
/filament-assets
/venv

# ===== Your additions =====
*.filamat
*.o
*.so
*.a
*.out
*.exe
build/
CMakeFiles/
CMakeCache.txt
external-gltf-assets/
benchmarks/